<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href='/img/weather.png'>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content about-content">
        <p>Θα θέλαμε να αναπτύξεις ένα responsive web app χρησιμοποιώντας React.js που θα δίνει
            την
            δυνατότητα στο χρήστη να βλέπει τον καιρό τη
            δεδομένη στιγμή.</p>
        <p>Το συγκεκριμένο app θα επικοινωνεί και θα παίρνει τις απαραίτητες
            πληροφορίες από το API που θα σου παρέχουμε (<a href="/api"> API </a>).</p>
        <p>Στην σελίδα (<a href="/"> Weather </a>) θα βρείς ένα πολύ απλό παράδειγμα του τι πρέπει να φτίαξεις.</p>
        <p>Μπορείς να χρησιμοποίησης όποια βιβλιοθήκη CSS θέλεις.</p>
        <p>Τέλος, ανέβασε τον κώδικα σου στο GitHub συμπεριλαμβάνοντας οδηγίες εγκατάστασης και στείλε μας το Link.
            Ως παραδοτέο μπορείς επίσης να προσθέσεις και ένα σύντομο brief με την
            πορεία που ακολούθησες, καθώς και παρατηρήσεις για οποιεσδήποτε
            δυσκολίες ή ασάφειες συνάντησες.
        </p>
    </div>
    {{>footer}}
</body>

</html>