<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API</title>
    <link rel="icon" href='/img/weather.png'>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content api-content">
        <h4>Allowed HTTPs requests:</h4>
        <p>GET : Get a resource or list of resources</p>
        <h4>Description Of Usual Server Responses:</h4>
        <ul>
            <li>200 <code>OK</code> - the request was successful</li>
            <li>400 <code>Bad Request</code> - the request could not be understood or was missing required parameters.
            </li>
        </ul>
        <h4>URL:</h4>
        <p>https://esa-weather-application.herokuapp.com/weather</p>
        <h4>Weather attributes:</h4>
        <p>address <code>(String)</code>: Address/Location.</p>
        <h4>Code Sample:</h4>
        <code>fetch('https://esa-weather-application.herokuapp.com//weather?address=London')</code>

    </div>
    {{>footer}}
</body>

</html>